{% extends "base.html" %}
{% block title %} Shorten URL {% endblock %}
{% block body %}
    <div class="flex flex-col min-h-screen justify-between">
        <main class="w-full box-border sm:px-16 md:px-32 lg:px-0 lg:w-1/3 mx-auto">
            <div class="flex flex-col items-center justify-center">
                <div class="flex flex-col items-center justify-center pt-5">
                    <img class="w-8" src="{{ url_for('static', filename='images/logo.svg') }}" alt="Logo">
                    <h2 class="text-cyan-500 text-xl lg:text-3xl font-bold">Shorten URL</h2>
                </div>
                <div class="w-full">
                    <form class="m-3 p-2 rounded-md" action="" method="post" onsubmit="return validate_form();">
                        <p class="text-base text-cyan-500 font-medium mb-3">Enter long URL:</p>
                        {% if isPostCustom %}
                            <input class="border-cyan-500 text-cyan-500 focus:shadow-cyan-400 focus:shadow-sm border-2 p-2 rounded-md w-full outline-none" required type="url" name="name" value="{{ url }}">
                        {% else %}
                            <input class="border-cyan-500 text-cyan-500 focus:shadow-cyan-400 focus:shadow-sm border-2 p-2 rounded-md w-full outline-none" required type="url" name="name">
                        {% endif %}
                        <p class="py-3 font-medium text-cyan-500">Customize your link:</p>
                        <div class="flex flex-col w-full items-center space-y-1">
                            <p class="text-cyan-500 border-2 border-cyan-500 p-2 rounded-md w-full bg-white">shrtn-url.vercel.app/</p>
                            <input class="focus:shadow-cyan-400 text-cyan-500 focus:shadow-sm border-cyan-500 border-2 p-2 rounded-md w-full outline-none" 
                            type="text" name="custom" id="custom" placeholder="Add your alias here...">
                        </div>
                        {% if isPostCustom %}
                            <p id="postCustom" class="text-red-500 mt-2 font-medium">Alias "{{customUrl}}"  has been used!</p>
                        {% endif %}
                            <p id="errorCustomURL" class="text-red-500 hidden mt-2 font-medium"></p>
                        <button class="shadow-lg py-2 px-4 mt-5 text-white bg-cyan-500 rounded-md w-full font-bold hover:bg-cyan-600" type="submit">Shorten URL!</button>
                    </form>
                </div>
            </div>
        </main>
        <footer class="flex items-center justify-center pb-3 lg:text-lg hover:underline">
            <a target="_blank" class="text-slate-900 font-bold" href="https://github.com/putuwaw/shorten-url">
                <i class="fa-brands fa-github mr-1"></i> shorten-url
            </a>
        </footer>
    </div>
{% endblock %}